___

<p style="text-align: center;"><img src="https://docs.google.com/uc?id=1lY0Uj5R04yMY3-ZppPWxqCr5pvBLYPnV" class="img-fluid" alt="CLRSWY"></p>

___

<h1><p style="text-align: center;">Data Analysis with Python <br>Project - 1</p><h1> - Traffic Police Stops <img src="https://docs.google.com/uc?id=17CPCwi3_VvzcS87TOsh4_U8eExOhL6Ki" class="img-fluid" alt="CLRSWY" width="200" height="100">

Does the ``gender`` of a driver have an impact on police behavior during a traffic stop? **In this chapter**, you will explore that question while practicing filtering, grouping, method chaining, Boolean math, string methods, and more!

***

## Examining traffic violations

Before comparing the violations being committed by each gender, you should examine the ``violations`` committed by all drivers to get a baseline understanding of the data.

In this exercise, you'll count the unique values in the ``violation`` column, and then separately express those counts as proportions.

> Before starting your work in this section **repeat the steps which you did in the previos chapter for preparing the data.** Continue to this chapter based on where you were in the end of the previous chapter.

In [1]:
import numpy as np 
import pandas as pd

In [2]:
df = pd.read_csv("police.csv")

C:\Users\Ertuğrul\AppData\Local\Programs\Python\Python39\lib\site-packages\IPython\core\interactiveshell.py:3146: DtypeWarning: Columns (8,16) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [3]:
df.drop(['county_name','state'], axis=1, inplace=True)

In [4]:
df = df.dropna(subset=['driver_gender'])

In [5]:
df["is_arrested"] = df["is_arrested"].astype('bool')

In [6]:
df["stop_date"]+ " "+df["stop_time"]

0         2005-01-02 01:55
1         2005-01-02 20:30
3         2005-01-04 12:55
4         2005-01-06 01:30
5         2005-01-12 08:05
                ...
509666    2015-12-31 22:46
509667    2015-12-31 22:47
509668    2015-12-31 23:08
509669    2015-12-31 23:44
509670    2015-12-31 23:48
Length: 480584, dtype: object

In [7]:
pd.to_datetime(df["stop_date"]+ " "+df["stop_time"])

0        2005-01-02 01:55:00
1        2005-01-02 20:30:00
3        2005-01-04 12:55:00
4        2005-01-06 01:30:00
5        2005-01-12 08:05:00
                 ...
509666   2015-12-31 22:46:00
509667   2015-12-31 22:47:00
509668   2015-12-31 23:08:00
509669   2015-12-31 23:44:00
509670   2015-12-31 23:48:00
Length: 480584, dtype: datetime64[ns]

In [8]:
df["stop_datetime"] = pd.to_datetime(df["stop_date"]+ " "+df["stop_time"])

In [9]:
df = df.set_index("stop_datetime")

In [10]:
df.head()

,id,stop_date,stop_time,location_raw,county_fips,fine_grained_location,police_department,driver_gender,driver_age_raw,driver_age,...,search_conducted,search_type_raw,search_type,contraband_found,stop_outcome,is_arrested,stop_duration,out_of_state,drugs_related_stop,district
stop_datetime,,,,,,,,,,,,,,,,,,,,,
2005-01-02 01:55:00,RI-2005-00001,2005-01-02,01:55,Zone K1,NaN,NaN,600,M,1985.0,20.0,...,False,NaN,NaN,False,Citation,False,0-15 Min,False,False,Zone K1
2005-01-02 20:30:00,RI-2005-00002,2005-01-02,20:30,Zone X4,NaN,NaN,500,M,1987.0,18.0,...,False,NaN,NaN,False,Citation,False,16-30 Min,False,False,Zone X4
2005-01-04 12:55:00,RI-2005-00004,2005-01-04,12:55,Zone X4,NaN,NaN,500,M,1986.0,19.0,...,False,NaN,NaN,False,Citation,False,0-15 Min,False,False,Zone X4
2005-01-06 01:30:00,RI-2005-00005,2005-01-06,01:30,Zone X4,NaN,NaN,500,M,1978.0,27.0,...,False,NaN,NaN,False,Citation,False,0-15 Min,False,False,Zone X4
2005-01-12 08:05:00,RI-2005-00006,2005-01-12,08:05,Zone X1,NaN,NaN,0,M,1973.0,32.0,...,False,NaN,NaN,False,Citation,False,30+ Min,True,False,Zone X1

**INSTRUCTIONS**

*   Count the unique values in the ``violation`` column, to see what violations are being committed by all drivers.
*   Express the violation counts as proportions of the total.

In [11]:
df["violation"].unique()

array(['Speeding', 'Equipment', 'Other', 'Moving violation',
       'Registration/plates', 'Seat belt'], dtype=object)

In [12]:
df["violation"].nunique()

6

In [13]:
len(df["violation"])

480584

In [14]:
df["violation"].value_counts(dropna=False)

Speeding               268736
Moving violation        90228
Equipment               61250
Other                   24216
Registration/plates     19830
Seat belt               16324
Name: violation, dtype: int64

***

## Comparing violations by gender

The question we're trying to answer is whether male and female drivers tend to commit different types of traffic violations.

You'll first create a ``DataFrame`` for each gender, and then analyze the ``violations`` in each ``DataFrame`` separately.

**INSTRUCTIONS**

*   Create a ``DataFrame``, female, that only contains rows in which ``driver_gender`` is ``'F'``.
*   Create a ``DataFrame``, male, that only contains rows in which ``driver_gender`` is ``'M'``.
*   Count the ``violations`` committed by female drivers and express them as proportions.
*   Count the violations committed by male drivers and express them as proportions.

In [15]:
df.groupby("driver_gender").count()

,id,stop_date,stop_time,location_raw,county_fips,fine_grained_location,police_department,driver_age_raw,driver_age,driver_race_raw,...,search_conducted,search_type_raw,search_type,contraband_found,stop_outcome,is_arrested,stop_duration,out_of_state,drugs_related_stop,district
driver_gender,,,,,,,,,,,,,,,,,,,,,
F,131138,131138,131138,131138,0,0,131138,131137,130828,131138,...,131138,2459,2459,131138,131138,131138,131138,130958,131138,131138
M,349446,349446,349446,349446,0,0,349446,349446,348118,349446,...,349446,15303,15303,349446,349446,349446,349446,348818,349446,349446

In [16]:
df_f = df[df["driver_gender"] == "F"]
df_f

,id,stop_date,stop_time,location_raw,county_fips,fine_grained_location,police_department,driver_gender,driver_age_raw,driver_age,...,search_conducted,search_type_raw,search_type,contraband_found,stop_outcome,is_arrested,stop_duration,out_of_state,drugs_related_stop,district
stop_datetime,,,,,,,,,,,,,,,,,,,,,
2005-02-24 01:20:00,RI-2005-00016,2005-02-24,01:20,Zone X3,NaN,NaN,200,F,1983.0,22.0,...,False,NaN,NaN,False,Citation,False,0-15 Min,True,False,Zone X3
2005-03-14 10:00:00,RI-2005-00019,2005-03-14,10:00,Zone K3,NaN,NaN,300,F,1984.0,21.0,...,False,NaN,NaN,False,Citation,False,0-15 Min,False,False,Zone K3
2005-03-29 23:20:00,RI-2005-00026,2005-03-29,23:20,Zone K3,NaN,NaN,300,F,1971.0,34.0,...,False,NaN,NaN,False,Citation,False,0-15 Min,True,False,Zone K3
2005-06-06 13:20:00,RI-2005-00035,2005-06-06,13:20,Zone X4,NaN,NaN,500,F,1986.0,19.0,...,False,NaN,NaN,False,Citation,False,0-15 Min,False,False,Zone X4
2005-06-18 16:30:00,RI-2005-00037,2005-06-18,16:30,Zone X4,NaN,NaN,500,F,1964.0,41.0,...,False,NaN,NaN,False,Arrest Driver,True,30+ Min,False,False,Zone X4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2015-12-31 21:59:00,RI-2015-47051,2015-12-31,21:59,Zone K3,NaN,NaN,300.0,F,1994.0,21.0,...,False,NaN,NaN,False,Citation,False,0-15 Min,False,False,Zone K3
2015-12-31 22:09:00,RI-2015-47054,2015-12-31,22:09,Zone K3,NaN,NaN,300.0,F,1992.0,23.0,...,False,NaN,NaN,False,Warning,False,0-15 Min,False,False,Zone K3
2015-12-31 22:10:00,RI-2015-47055,2015-12-31,22:10,Zone X4,NaN,NaN,300.0,F,1989.0,26.0,...,False,NaN,NaN,False,Warning,False,0-15 Min,False,False,Zone X4
2015-12-31 22:10:00,RI-2015-47056,2015-12-31,22:10,Zone X4,NaN,NaN,300.0,F,1989.0,26.0,...,False,NaN,NaN,False,Arrest Driver,True,0-15 Min,False,False,Zone X4
2015-12-31 22:39:00,RI-2015-47060,2015-12-31,22:39,Zone K3,NaN,NaN,300.0,F,1976.0,39.0,...,False,NaN,NaN,False,Citation,False,16-30 Min,True,False,Zone K3

In [17]:
df_m = df[df["driver_gender"] == "M"]
df_m

,id,stop_date,stop_time,location_raw,county_fips,fine_grained_location,police_department,driver_gender,driver_age_raw,driver_age,...,search_conducted,search_type_raw,search_type,contraband_found,stop_outcome,is_arrested,stop_duration,out_of_state,drugs_related_stop,district
stop_datetime,,,,,,,,,,,,,,,,,,,,,
2005-01-02 01:55:00,RI-2005-00001,2005-01-02,01:55,Zone K1,NaN,NaN,600,M,1985.0,20.0,...,False,NaN,NaN,False,Citation,False,0-15 Min,False,False,Zone K1
2005-01-02 20:30:00,RI-2005-00002,2005-01-02,20:30,Zone X4,NaN,NaN,500,M,1987.0,18.0,...,False,NaN,NaN,False,Citation,False,16-30 Min,False,False,Zone X4
2005-01-04 12:55:00,RI-2005-00004,2005-01-04,12:55,Zone X4,NaN,NaN,500,M,1986.0,19.0,...,False,NaN,NaN,False,Citation,False,0-15 Min,False,False,Zone X4
2005-01-06 01:30:00,RI-2005-00005,2005-01-06,01:30,Zone X4,NaN,NaN,500,M,1978.0,27.0,...,False,NaN,NaN,False,Citation,False,0-15 Min,False,False,Zone X4
2005-01-12 08:05:00,RI-2005-00006,2005-01-12,08:05,Zone X1,NaN,NaN,0,M,1973.0,32.0,...,False,NaN,NaN,False,Citation,False,30+ Min,True,False,Zone X1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2015-12-31 22:46:00,RI-2015-47061,2015-12-31,22:46,Zone X1,NaN,NaN,0.0,M,1959.0,56.0,...,False,NaN,NaN,False,Citation,False,0-15 Min,True,False,Zone X1
2015-12-31 22:47:00,RI-2015-47062,2015-12-31,22:47,Zone X4,NaN,NaN,500.0,M,1988.0,27.0,...,False,NaN,NaN,False,Citation,False,0-15 Min,False,False,Zone X4
2015-12-31 23:08:00,RI-2015-47063,2015-12-31,23:08,Zone X3,NaN,NaN,200.0,M,1980.0,35.0,...,False,NaN,NaN,False,Citation,False,0-15 Min,False,False,Zone X3
2015-12-31 23:44:00,RI-2015-47064,2015-12-31,23:44,Zone K2,NaN,NaN,900.0,M,1984.0,31.0,...,False,NaN,NaN,False,Citation,False,0-15 Min,False,False,Zone K2
2015-12-31 23:48:00,RI-2015-47065,2015-12-31,23:48,Zone K3,NaN,NaN,300.0,M,1988.0,27.0,...,False,NaN,NaN,False,Citation,False,0-15 Min,False,False,Zone K3

In [18]:
df_f["violation"].count()

131138

In [19]:
df_f.groupby("violation").count()

,id,stop_date,stop_time,location_raw,county_fips,fine_grained_location,police_department,driver_gender,driver_age_raw,driver_age,...,search_conducted,search_type_raw,search_type,contraband_found,stop_outcome,is_arrested,stop_duration,out_of_state,drugs_related_stop,district
violation,,,,,,,,,,,,,,,,,,,,,
Equipment,14039,14039,14039,14039,0,0,14039,14039,14038,14017,...,14039,565,565,14039,14039,14039,14039,14022,14039,14039
Moving violation,17911,17911,17911,17911,0,0,17911,17911,17911,17866,...,17911,681,681,17911,17911,17911,17911,17883,17911,17911
Other,3791,3791,3791,3791,0,0,3791,3791,3791,3724,...,3791,174,174,3791,3791,3791,3791,3772,3791,3791
Registration/plates,5649,5649,5649,5649,0,0,5649,5649,5649,5644,...,5649,309,309,5649,5649,5649,5649,5641,5649,5649
Seat belt,3550,3550,3550,3550,0,0,3550,3550,3550,3549,...,3550,63,63,3550,3550,3550,3550,3542,3550,3550
Speeding,86198,86198,86198,86198,0,0,86198,86198,86198,86028,...,86198,667,667,86198,86198,86198,86198,86098,86198,86198

In [20]:
df_m["violation"].count()

349446

In [21]:
df_m.groupby("violation").count()

,id,stop_date,stop_time,location_raw,county_fips,fine_grained_location,police_department,driver_gender,driver_age_raw,driver_age,...,search_conducted,search_type_raw,search_type,contraband_found,stop_outcome,is_arrested,stop_duration,out_of_state,drugs_related_stop,district
violation,,,,,,,,,,,,,,,,,,,,,
Equipment,47211,47211,47211,47211,0,0,47211,47211,47211,47134,...,47211,3348,3348,47211,47211,47211,47211,47137,47211,47211
Moving violation,72317,72317,72317,72317,0,0,72317,72317,72317,72068,...,72317,4278,4278,72317,72317,72317,72317,72132,72317,72317
Other,20425,20425,20425,20425,0,0,20425,20425,20425,19824,...,20425,942,942,20425,20425,20425,20425,20308,20425,20425
Registration/plates,14181,14181,14181,14181,0,0,14181,14181,14181,14161,...,14181,1469,1469,14181,14181,14181,14181,14161,14181,14181
Seat belt,12774,12774,12774,12774,0,0,12774,12774,12774,12768,...,12774,405,405,12774,12774,12774,12774,12755,12774,12774
Speeding,182538,182538,182538,182538,0,0,182538,182538,182538,182163,...,182538,4861,4861,182538,182538,182538,182538,182325,182538,182538

***

## Comparing speeding outcomes by gender

When a driver is pulled over for speeding, many people believe that gender has an impact on whether the driver will receive a ticket or a warning. Can you find evidence of this in the dataset?

First, you'll create two ``DataFrames`` of drivers who were stopped for ``speeding``: one containing ***females*** and the other containing ***males***.

Then, for each **gender**, you'll use the ``stop_outcome`` column to calculate what percentage of stops resulted in a ``"Citation"`` (meaning a ticket) versus a ``"Warning"``.

**INSTRUCTIONS**

*   Create a ``DataFrame``, ``female_and_speeding``, that only includes female drivers who were stopped for speeding.
*   Create a ``DataFrame``, ``male_and_speeding``, that only includes male drivers who were stopped for speeding.
*   Count the **stop outcomes** for the female drivers and express them as proportions.
*   Count the **stop outcomes** for the male drivers and express them as proportions.

In [22]:
female_and_speeding = df_f[df_f["violation"] == "Speeding"]
female_and_speeding

,id,stop_date,stop_time,location_raw,county_fips,fine_grained_location,police_department,driver_gender,driver_age_raw,driver_age,...,search_conducted,search_type_raw,search_type,contraband_found,stop_outcome,is_arrested,stop_duration,out_of_state,drugs_related_stop,district
stop_datetime,,,,,,,,,,,,,,,,,,,,,
2005-02-24 01:20:00,RI-2005-00016,2005-02-24,01:20,Zone X3,NaN,NaN,200,F,1983.0,22.0,...,False,NaN,NaN,False,Citation,False,0-15 Min,True,False,Zone X3
2005-03-14 10:00:00,RI-2005-00019,2005-03-14,10:00,Zone K3,NaN,NaN,300,F,1984.0,21.0,...,False,NaN,NaN,False,Citation,False,0-15 Min,False,False,Zone K3
2005-03-29 23:20:00,RI-2005-00026,2005-03-29,23:20,Zone K3,NaN,NaN,300,F,1971.0,34.0,...,False,NaN,NaN,False,Citation,False,0-15 Min,True,False,Zone K3
2005-06-06 13:20:00,RI-2005-00035,2005-06-06,13:20,Zone X4,NaN,NaN,500,F,1986.0,19.0,...,False,NaN,NaN,False,Citation,False,0-15 Min,False,False,Zone X4
2005-07-06 11:22:00,RI-2005-00038,2005-07-06,11:22,Zone X1,NaN,NaN,0,F,1973.0,32.0,...,False,NaN,NaN,False,Citation,False,0-15 Min,False,False,Zone X1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2015-12-31 19:44:00,RI-2015-47028,2015-12-31,19:44,Zone K2,NaN,NaN,500.0,F,1969.0,46.0,...,False,NaN,NaN,False,Warning,False,0-15 Min,False,False,Zone K2
2015-12-31 20:05:00,RI-2015-47031,2015-12-31,20:05,Zone K2,NaN,NaN,900.0,F,1996.0,19.0,...,False,NaN,NaN,False,Citation,False,0-15 Min,False,False,Zone K2
2015-12-31 20:42:00,RI-2015-47041,2015-12-31,20:42,Zone K2,NaN,NaN,900.0,F,1978.0,37.0,...,False,NaN,NaN,False,Citation,False,0-15 Min,True,False,Zone K2
2015-12-31 21:47:00,RI-2015-47050,2015-12-31,21:47,Zone K3,NaN,NaN,300.0,F,1996.0,19.0,...,False,NaN,NaN,False,Citation,False,0-15 Min,True,False,Zone K3
2015-12-31 21:59:00,RI-2015-47051,2015-12-31,21:59,Zone K3,NaN,NaN,300.0,F,1994.0,21.0,...,False,NaN,NaN,False,Citation,False,0-15 Min,False,False,Zone K3

In [23]:
male_and_speeding = df_m[df_m["violation"] == "Speeding"]
male_and_speeding

,id,stop_date,stop_time,location_raw,county_fips,fine_grained_location,police_department,driver_gender,driver_age_raw,driver_age,...,search_conducted,search_type_raw,search_type,contraband_found,stop_outcome,is_arrested,stop_duration,out_of_state,drugs_related_stop,district
stop_datetime,,,,,,,,,,,,,,,,,,,,,
2005-01-02 01:55:00,RI-2005-00001,2005-01-02,01:55,Zone K1,NaN,NaN,600,M,1985.0,20.0,...,False,NaN,NaN,False,Citation,False,0-15 Min,False,False,Zone K1
2005-01-02 20:30:00,RI-2005-00002,2005-01-02,20:30,Zone X4,NaN,NaN,500,M,1987.0,18.0,...,False,NaN,NaN,False,Citation,False,16-30 Min,False,False,Zone X4
2005-01-18 08:15:00,RI-2005-00007,2005-01-18,08:15,Zone K3,NaN,NaN,300,M,1965.0,40.0,...,False,NaN,NaN,False,Citation,False,0-15 Min,True,False,Zone K3
2005-01-23 23:15:00,RI-2005-00009,2005-01-23,23:15,Zone K3,NaN,NaN,300,M,1972.0,33.0,...,False,NaN,NaN,False,Citation,False,0-15 Min,True,False,Zone K3
2005-01-24 20:32:00,RI-2005-00010,2005-01-24,20:32,Zone K1,NaN,NaN,600,M,1987.0,18.0,...,True,Probable Cause,Probable Cause,True,Citation,False,0-15 Min,True,True,Zone K1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2015-12-31 20:50:00,RI-2015-47044,2015-12-31,20:50,Zone K2,NaN,NaN,500.0,M,1994.0,21.0,...,False,NaN,NaN,False,Citation,False,0-15 Min,False,False,Zone K2
2015-12-31 21:42:00,RI-2015-47049,2015-12-31,21:42,Zone X1,NaN,NaN,0.0,M,1993.0,22.0,...,False,NaN,NaN,False,Citation,False,0-15 Min,True,False,Zone X1
2015-12-31 22:26:00,RI-2015-47058,2015-12-31,22:26,Zone K3,NaN,NaN,300.0,M,1964.0,51.0,...,False,NaN,NaN,False,Citation,False,0-15 Min,True,False,Zone K3
2015-12-31 22:46:00,RI-2015-47061,2015-12-31,22:46,Zone X1,NaN,NaN,0.0,M,1959.0,56.0,...,False,NaN,NaN,False,Citation,False,0-15 Min,True,False,Zone X1
2015-12-31 23:44:00,RI-2015-47064,2015-12-31,23:44,Zone K2,NaN,NaN,900.0,M,1984.0,31.0,...,False,NaN,NaN,False,Citation,False,0-15 Min,False,False,Zone K2

In [24]:
female_and_speeding["stop_outcome"].count()

86198

In [25]:
female_and_speeding.groupby("stop_outcome").count()

,id,stop_date,stop_time,location_raw,county_fips,fine_grained_location,police_department,driver_gender,driver_age_raw,driver_age,...,violation,search_conducted,search_type_raw,search_type,contraband_found,is_arrested,stop_duration,out_of_state,drugs_related_stop,district
stop_outcome,,,,,,,,,,,,,,,,,,,,,
Arrest Driver,456,456,456,456,0,0,456,456,456,456,...,456,456,150,150,456,456,456,455,456,456
Arrest Passenger,89,89,89,89,0,0,89,89,89,89,...,89,89,39,39,89,89,89,89,89,89
Citation,82168,82168,82168,82168,0,0,82168,82168,82168,82075,...,82168,82168,465,465,82168,82168,82168,82107,82168,82168
N/D,78,78,78,78,0,0,78,78,78,77,...,78,78,1,1,78,78,78,78,78,78
No Action,45,45,45,45,0,0,45,45,45,45,...,45,45,2,2,45,45,45,45,45,45
Warning,3362,3362,3362,3362,0,0,3362,3362,3362,3286,...,3362,3362,10,10,3362,3362,3362,3324,3362,3362

In [26]:
cita_f = len(female_and_speeding[female_and_speeding["stop_outcome"] == "Citation"])
cita_f

82168

In [27]:
warn_f = len(female_and_speeding[female_and_speeding["stop_outcome"] == "Warning"])
warn_f

3362

In [28]:
rate_f = (warn_f/cita_f)*100
rate_f

4.091617174569175

In [29]:
male_and_speeding["stop_outcome"].count()

182538

In [30]:
male_and_speeding.groupby("stop_outcome").count()

,id,stop_date,stop_time,location_raw,county_fips,fine_grained_location,police_department,driver_gender,driver_age_raw,driver_age,...,violation,search_conducted,search_type_raw,search_type,contraband_found,is_arrested,stop_duration,out_of_state,drugs_related_stop,district
stop_outcome,,,,,,,,,,,,,,,,,,,,,
Arrest Driver,2878,2878,2878,2878,0,0,2878,2878,2878,2877,...,2878,2878,1322,1322,2878,2878,2878,2874,2878,2878
Arrest Passenger,231,231,231,231,0,0,231,231,231,230,...,231,231,122,122,231,231,231,230,231,231
Citation,172432,172432,172432,172432,0,0,172432,172432,172432,172241,...,172432,172432,3262,3262,172432,172432,172432,172304,172432,172432
N/D,216,216,216,216,0,0,216,216,216,215,...,216,216,2,2,216,216,216,216,216,216
No Action,194,194,194,194,0,0,194,194,194,190,...,194,194,44,44,194,194,194,194,194,194
Warning,6587,6587,6587,6587,0,0,6587,6587,6587,6410,...,6587,6587,109,109,6587,6587,6587,6507,6587,6587

In [31]:
cita_m = len(male_and_speeding[male_and_speeding["stop_outcome"] == "Citation"])
cita_m

172432

In [32]:
warn_m = len(male_and_speeding[male_and_speeding["stop_outcome"] == "Warning"])
warn_m

6587

In [33]:
rate_m = (warn_m/cita_m)*100
rate_m

3.8200566020228264

***

## Calculating the search rate

During a traffic stop, the police officer sometimes conducts a search of the vehicle. In this exercise, you'll calculate the percentage of all stops that result in a vehicle search, also known as the **search rate**.

**INSTRUCTIONS**

*   Check the data type of ``search_conducted`` to confirm that it's a ``Boolean Series``.
*   Calculate the search rate by counting the ``Series`` values and expressing them as proportions.
*   Calculate the search rate by taking the mean of the ``Series``. (It should match the proportion of ``True`` values calculated above.)

In [34]:
df["search_conducted"].dtypes

dtype('O')

In [35]:
df["search_conducted"].count()

480584

In [36]:
df.groupby("search_conducted")["search_conducted"].count()

search_conducted
False    462822
True      17762
Name: search_conducted, dtype: int64

In [37]:
len(df[df["search_conducted"]==True])

17762

In [38]:
len(df[df["search_conducted"]==False])

462822

In [40]:
(len(df[df["search_conducted"]==True])/len(df[df["search_conducted"]==False]))*100

3.8377605213235326

In [41]:
df[df["search_conducted"]==True].mean()

county_fips                      NaN
fine_grained_location            NaN
driver_age_raw           1978.421462
driver_age                 30.660000
search_conducted            1.000000
contraband_found            0.370397
is_arrested                 0.348328
out_of_state                0.251610
drugs_related_stop          0.268269
dtype: float64

***

## Comparing search rates by gender

You'll compare the rates at which **female** and **male** drivers are searched during a traffic stop. Remember that the vehicle search rate across all stops is about **3.8%**.

First, you'll filter the ``DataFrame`` by gender and calculate the search rate for each group separately. Then, you'll perform the same calculation for both genders at once using a ``.groupby()``.

**INSTRUCTIONS 1/3**

*   Filter the ``DataFrame`` to only include **female** drivers, and then calculate the search rate by taking the mean of ``search_conducted``.

In [42]:
df_f[df_f["search_conducted"]==True].mean()

county_fips                      NaN
fine_grained_location            NaN
driver_age_raw           1978.398536
driver_age                 29.872609
search_conducted            1.000000
contraband_found            0.337942
is_arrested                 0.370069
out_of_state                0.214927
drugs_related_stop          0.243595
dtype: float64

**INSTRUCTIONS 2/3**

*   Filter the ``DataFrame`` to only include **male** drivers, and then repeat the search rate calculation.

In [43]:
df_m[df_m["search_conducted"]==True].mean()

county_fips                      NaN
fine_grained_location            NaN
driver_age_raw           1978.425145
driver_age                 30.786504
search_conducted            1.000000
contraband_found            0.375613
is_arrested                 0.344834
out_of_state                0.257510
drugs_related_stop          0.272234
dtype: float64

**INSTRUCTIONS 3/3**

*   Group by driver gender to calculate the search rate for both groups simultaneously. (It should match the previous results.)

In [44]:
df[df["search_conducted"]==True].groupby("driver_gender").mean()

,county_fips,fine_grained_location,driver_age_raw,driver_age,contraband_found,is_arrested,drugs_related_stop
driver_gender,,,,,,,
F,NaN,NaN,1978.398536,29.872609,0.337942,0.370069,0.243595
M,NaN,NaN,1978.425145,30.786504,0.375613,0.344834,0.272234

In [45]:
df_f.groupby("search_conducted")["search_conducted"].count()

search_conducted
False    128679
True       2459
Name: search_conducted, dtype: int64

In [46]:
df_m.groupby("search_conducted")["search_conducted"].count()

search_conducted
False    334143
True      15303
Name: search_conducted, dtype: int64

***

## Adding a second factor to the analysis

Even though the search rate for males is much higher than for females, it's possible that the difference is mostly due to a second factor.

For example, you might hypothesize that the search rate varies by violation type, and the difference in search rate between males and females is because they tend to commit different violations.

You can test this hypothesis by examining the search rate for each combination of gender and violation. If the hypothesis was true, you would find that males and females are searched at about the same rate for each violation. Find out below if that's the case!

**INSTRUCTIONS 1/2**

*   Use a ``.groupby()`` to calculate the search rate for each combination of gender and violation. Are males and females searched at about the same rate for each violation?

**INSTRUCTIONS 2/2**

*   Reverse the ordering to group by violation before gender. The results may be easier to compare when presented this way.

***

## Counting protective frisks

During a vehicle search, the police officer may pat down the driver to check if they have a weapon. This is known as a ``"protective frisk."``

You'll first check to see how many times "Protective Frisk" was the only search type. Then, you'll use a string method to locate all instances in which the driver was frisked.

**INSTRUCTIONS**

*   Count the ``search_type`` values to see how many times ``"Protective Frisk"`` was the only search type.
*   Create a new column, frisk, that is ``True`` if ``search_type`` contains the string ``"Protective Frisk"`` and ``False`` otherwise.
*   Check the data type of frisk to confirm that it's a ``Boolean Series``.
*   Take the sum of frisk to count the total number of frisks.

***

## Comparing frisk rates by gender

You'll compare the rates at which female and male drivers are frisked during a search. Are males frisked more often than females, perhaps because police officers consider them to be higher risk?

Before doing any calculations, it's important to filter the ``DataFrame`` to only include the relevant subset of data, namely stops in which a search was conducted.

**INSTRUCTIONS**

*   Create a ``DataFrame``, searched, that only contains rows in which ``search_conducted`` is ``True``.
*   Take the mean of the frisk column to find out what percentage of searches included a frisk.
*   Calculate the frisk rate for each gender using a ``.groupby()``.